@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

:root {
    --noto: 'Noto Sans', sans-serif;
    --Neutral_900: hsl(227, 75%, 14%);
    --Neutral_800: hsl(226, 25%, 17%);
    --Neutral_700: hsl(225, 23%, 24%);
    --Neutral_600: hsl(226, 11%, 37%);
    --Neutral_300: hsl(0, 0%, 78%);
    --Neutral_200: hsl(217, 61%, 90);
    --Neutral_100: hsl(0, 0%, 93%);
    --Neutral_0: hsl(200, 60%, 99%);
    --Red_400: hsl(3, 86%, 64%);
    --Red_500: hsl(3, 71%, 56%);
    --Red_700: hsl(3, 77%, 44%);
    --Light_Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark_Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

*:focus{
    cursor: pointer;
    outline : 1px solid var(--Red_700);
}

html {
    font-size: 16px;
    font-family: var(--noto);
}

html,
body,
#root {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.root_inner {
    padding: 50px 7rem;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root_inner header {
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}

.root_inner header button {
    border: 1px solid transparent;
    padding: 13px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root_inner header button svg {
    animation: fadeIn 1s ease 0s 1 normal forwards;
}

.root_inner .filterBar {
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root_inner .filterBar h1 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
}

.root_inner .filterBar ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.root_inner .filterBar ul li button {
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid;
}

.root_inner .extensions {
    display: grid;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.root_inner .extension {
    height: 190px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
}

.root_inner .extension .info {
    display: flex;
    gap: 15px;
}


.root_inner .extension .info .description {
    flex: 0 1 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.root_inner .extension .info .description h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

.root_inner .extension .info .description p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--Neutral_600);
}

.root_inner .extension .manage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root_inner .extension .manage button{
    padding: 10px 16px;
    border : 1px solid;
    text-transform: capitalize;
    font-size: 0.95rem;
    border-radius: 20px;
    background-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--Red_400);
}

input:focus + .slider, input:hover + .slider {
    background: var(--Red_700);
  box-shadow: 0 0 1px var(--Red_400);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

html:has(.root_inner.dark){
    background: var(--Dark_Gradient);
    color: var(--Neutral_0);
}

html:has(.root_inner.light){
    background: var(--Light_Gradient);
    color: var(--Neutral_900);
}

.root_inner.dark header {
    background-color: var(--Neutral_800);
}

.root_inner.light header {
    background-color: var(--Neutral_0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.root_inner.dark header svg > path {
    fill : var(--Neutral_0);
}

.root_inner.dark header button {
    background-color: var(--Neutral_700);
}

.root_inner.light header button {
    background-color: var(--Neutral_100);
}

.root_inner.dark .filterBar ul li button {
    background-color: var(--Neutral_700);
    border-color: var(--Neutral_600);
    color: var(--Neutral_0);
}

.root_inner.light .filterBar ul li button {
    background-color: var(--Neutral_0);
    border-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--Neutral_900);
}

.root_inner .filterBar ul li.active button {
    background-color: var(--Red_500);
    border-color: var(--Red_500);
    color: var(--Neutral_0) !important;
}

.root_inner.dark .filterBar ul li.active button {
    color: var(--Neutral_900) !important;
}   

.root_inner.dark .extension {
    border-color: var(--Neutral_700);
    background-color: var(--Neutral_800);
}

.root_inner.light .extension {
    border-color: transparent;
    background-color: var(--Neutral_0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.root_inner.dark .extension .manage button {
    border-color: var(--Neutral_600);
    color: var(--Neutral_0);
}

.root_inner.light .extension .manage button {
    border-color: var(--Neutral_300);
    color: var(--Neutral_900);
}

.root_inner.dark *:focus{
    border: 1px solid var(--Neutral_900);
}

.root_inner.light *:focus{
    border: 1px solid #f1f5fb !important;
}
 
.root_inner.light button:hover {
    cursor: pointer;
    color: var(--Red_700) !important;
    border-color: var(--Red_700) !important;
}

.root_inner.dark button:hover {
    cursor: pointer;
    color: var(--Red_500) !important;
    border-color: var(--Red_500) !important;
}

@media screen and (min-width : 1100px) {
    .root_inner .extensions {
        grid-template-columns: repeat(3, minmax(250px,1fr));
    }
}

@media screen and (max-width : 1099px) {
    .root_inner .extensions {
        grid-template-columns: repeat(2, minmax(250px,1fr));
    }
}

@media screen and (max-width : 768px) {

    html {
        font-size: 14px;
    }

    .root_inner {
        padding: 30px 2rem;
    }

    .root_inner .filterBar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .root_inner .extensions {
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    }

    .root_inner .extension {
        width: 100%;
    }
}

